<% if @project.module_enabled?(:weight_on_issues) %>
  <div class="splitcontent">
    <% if authorize_for('issues', 'view_weight') %>
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%= l(:view_issues_label_weight) %>:</div>
          <div class="value">
            <div class="weight_on_issues-issue-weights-nowrap">
                <span id="weight_on_issues_weight"></span>
                <span>&nbsp;</span>
            </div>
            
            <script>
              weight_on_issues.showWeightsOnIssue(<%= WeightOnIssue.getWeightSumOnIssue(@issue.id) %>);
            </script>
          </div>
        </div>
      </div>
    <% end %>
  
    <% if authorize_for('issues', 'cast_weight') && (!User.current.admin?) %>
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%= l(:view_issues_my_weight) %>:</div>
          <div class="value">
            <div class="weight_on_issues-issue-weights-nowrap">
              <%= form_tag({:controller => 'weight_on_issues', :action => 'cast_weight'}, remote: true, method: 'get') do %>
                <%= number_field_tag('weight_on_issues_MyWeight', nil,  in: 0..100, :name=>"weight_val", plugin: 'weight_on_issues') %>
                <%= hidden_field_tag('weight_on_issues_issue', nil, :name=>"issue_id", :value=>@issue.id, plugin: 'weight_on_issues') %>
                <%= submit_tag('Salvar') %>
              <% end %>
            </div>
            
            <script>
              weight_on_issues.showMyWeight(<%= WeightOnIssue.getMyWeight(@issue) %>);
            </script>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    
<% end %>
